/* Estilos generales comunes a todos los dispositivos */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   text-align: center;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
textarea,
button {
    width: 35%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos comunes para botones de envío */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button#enviar-whatsapp {
    background-color: #25d366;
}

button#enviar-whatsapp:hover {
    background-color: #128c7e;
}

/* Estilos específicos para dispositivos más pequeños (teléfonos) */
@media (max-width: 600px) {
    body {
        font-size: 16px;
    }

    .container {
        padding: 10px;
    }

    label {
        font-size: 18px;
    }

    input,
    select,
    textarea {
        font-size: 18px;
    }

    button {
        font-size: 18px;
    }
}
